@charset "utf-8";
/* CSS Document */

body {
	font-family: "Avenir Next", sans-serif;
	background-color: #F8F9F4;
	margin-top: 80px;
	margin-bottom: 80px;
}

h1 {
	color: #9B9B9B;
	/* margin-bottom: 80px; */
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 28px; /* to be changed? */
}

h2 {
	color: #gray;
	margin-top: 0px;
	font-size: 18px;
	font-weight: medium; /* to be changed? */
}

h3 {
	color: #2980BA;
	margin-top: 0px;
	font-size: 14px;
	font-weight:bold; /* to be changed? */
}


p {
	color: #4A4A4A;
	font-size: normal;
	font-weight: normal; /* to be changed? */
	margin-top: 30px;
	margin-bottom: 30px;
}

h4 {
	color: #4A4A4A;
	font-size: 12px;
	font-weight: normal; /* to be changed? */
	margin-top: 30px;
	margin-bottom: 30px;
}

a{
	color: #blue;
	font-size: normal;
}

.button a{
	color: #808080;
	font-size: 18px;
	font-weight: bold;
}

sub {
	font-size: 0.85em;
}
