@charset "utf-8";
/* CSS Document */
body {
	font-family: "Avenir Next", sans-serif;
	background-color: #F8F9F4;
}

.txt h1 {
	color: #2980BA;
	/* margin-bottom: 80px; */
	margin-top: 100px;
	font-size: 24px;
	font-weight: bold; /* to be changed? */
}

.txt h2 {
	color: #9B9B9B;
	margin-top: 0px;
	font-size: 18px;
	font-style: italic;
	font-weight: normal; /* to be changed? */
}

.txt p {
	color: #4A4A4A;
	font-size: normal;
	font-weight: normal; /* to be changed? */
	margin-top: 30px;
	margin-bottom: 30px;
}

.txt p.round {
	color:#2980BA;
	font-weight: 600;
  border: 0.5px solid lightgray;
  border-radius: 20px;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.txt a{
	color:#FFFFFF;
}

.txt ul {
	color: #2980BA;
}

.gridcontainer{
	text-align: center;
}

.electric_grid{
	display: inline-block;
	/*border: solid 1px black;  for debug purposes */
	position: relative;
	width: 850px;
	height: 380px;
}

.button{
	border-radius:32px;
	color:#FFFFFF;
	font-weight: bold;
	background-color: #2980BA;
}

#coal{
	position: absolute;
	top: 40%;
	right: 73%;
	opacity: 0.8;
}
#coal:hover{
	opacity: 1.0;
	cursor: pointer;
}

#naturalgas{
	position: absolute;
	top: 65%;
	right: 40%;
	opacity: 0.8;
}

#naturalgas:hover{
	opacity: 1.0;
	cursor: pointer;
}

#nuclear{
	position: absolute;
	top: 45%;
	left: 43%;
	opacity: 0.8;
}

#nuclear:hover{
	opacity: 1.0;
	cursor: pointer;
}

#solar{
	position: absolute;
	top: 59%;
	left: 65%;
	opacity: 0.8;
}

#solar:hover{
	opacity: 1.0;
	cursor: pointer;
}

#wind{
	position: absolute;
	top: 11%;
	left: 80%;
	opacity: 0.8;
}

#wind:hover{
	opacity: 1.0;
	cursor: pointer;
}

.mancontainer {
	text-align: center;

}

.man{
	display: inline-block;
	position: relative;

}


.listcontainer{
	text-align: center;
	height: 100px;

}

#li{
	padding-top: 50px;
	position: relative;
	display: inline-block;

	width: 700px;
}

#li1{
	position: absolute;

	left: 15%;
}

#li2{
	position: absolute;

	right: 15%;
}

.numbering{
	font-weight: bold;
	color: #2980BA;
}

.li_item{
	font-weight: bold;
}

#co2text{
	position: absolute;
	top: 13%;
	left: 64%;
}

#co2{
	position: absolute;
	top: 21%;
	left: 70%;
	opacity: 0.8;

}

#co2:hover{
	opacity: 1.0;
	cursor: pointer;
}

#noxtext{
	position: absolute;
	top: 8%;
	left: 26%;
}

#nox{
	position: absolute;
	top: 16%;
	right: 62%;
	opacity: 0.8;
}

#nox:hover{
	opacity: 1.0;
	cursor: pointer;
}

#pmtext{
	position: absolute;
	top: 50%;
	right: 62%;
}

#pm{
	position: absolute;
	top: 33%;
	right: 68%;
	opacity: 0.8;
}

#pm:hover{
	opacity: 1.0;
	cursor: pointer;
}

#so2text{
	position: absolute;
	top: 26%;
	right: 80%;
}

#so2{
	position: absolute;
	top: 34%;
	right: 82.5%;
	opacity: 0.8;
}

#so2:hover{
	opacity: 1.0;
	cursor: pointer;
}


/* .mapcontainer{
	text-align: center;
	border: 1px solid black;
} */

.map{
	display: inline-block;
	position: relative;
}

#CA {
	border: 2px black solid;
	background-color: black;

	opacity: 0;
	transform: rotate(-40deg); /* rotate to fit the shape of the state, might not be necessary */
	position: absolute;
	height: 70px;
	width: 25px;
	top: 39%;
	left: 25%;
	cursor: pointer;
}

#energyPortfolio p {
	color: #2980BA;
}

sup {
	color: #lightgray;
	/* text-decoration: underline; */
}

sub {
	font-size: 0.85em;
}
